# frozen_string_literal: true

source "https://rubygems.org"

gem "debug", platform: :mri unless ENV["CI"] == "true"

gemspec

eval_gemfile "gemfiles/rubocop.gemfile"

local_gemfile = File.join(__dir__, "Gemfile.local")

if File.exist?(local_gemfile)
  eval_gemfile(local_gemfile)
<% if use_rails %>
else
  gem "rails", "~> 8.0"
<% end %>
end
