name: Build

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      <% if use_rails %>
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      <% end %>
      CI: true
    strategy:
      fail-fast: false
      matrix:
        <% if use_rails %>
        ruby: ["3.2"]
        gemfile: ["gemfiles/rails7.gemfile"]
        include:
        - ruby: "2.7"
          gemfile: "gemfiles/rails6.gemfile"
        - ruby: "3.3"
          gemfile: "gemfiles/railsmain.gemfile"
        - ruby: "3.2"
          gemfile: "gemfiles/rails71.gemfile"
        - ruby: "3.1"
          gemfile: "gemfiles/rails70.gemfile"
        <% else %>
        ruby: ["2.7", "3.0", "3.1", "3.2", "3.3"]
        <% end %>
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    <% if use_ruby_next %>
    - name: Ruby Ruby Next
      run: |
        bundle exec ruby-next nextify -V
    <% end %>
    <% if use_rspec %>
    - name: Run RSpec
      run: |
        bundle exec rspec
    <% else %>
    - name: Run tests
      run: |
        bundle exec rake test
    <% end %>
